<% content_for :title do  %>
  <%= @item.name || "Untitled Item" %>
<% end %>

<p id='description'>
  <%= @item.description %>
</p>


<div id="background_image"><img src="<%= @item.image_url %>"></div>
